
.navbar-brand {
    color: #0802a3;
    font-size: 32px;
    font-weight: 700;
}



.button-nav {
    margin-left: 700px;


}

button {
    border: none;
    border-radius: 7px;
    font-size: 15px;
    padding: 8px 16px;
    margin: 0px 16px;
    font-weight: 700;
}

button:nth-child(1) {
    color: #0802A3;
    background-color: white;
    border: 1px solid #0802A3;

}

button:nth-child(1):hover {
    color: white;
    background-color: #0802A3;
}

button:last-child {
    color: white;
    background-color: #0802A3;
    border: 1px solid #0802A3;
}

button:last-child:hover {
    color: #0802A3;
    background-color: white;
}



.discover {
    display: flex;
}

.discover-item {
    margin: 50px 100px;
    width: 50%;
}

.discover-item:nth-child(1) {
    margin-top: 120px;
}

.discover h1 {
    font-size: 36px;
    font-weight: 700;
    color: #121214;
    margin-bottom: 30px;

}

.discover p {

    color: #464647;
    font-size: 20px;
    line-height: 30px;
    padding-right: 270px;
}

.why-choose-us h5 {
    margin-left: 650px;
}

.choosen {
    display: flex;
    gap: 87px;
    margin: 20px 100px;
}

.choose-items {
    color: white;
    background-color: blueviolet;
    width: 240px;
    border-radius: 10px;
}

.choose-items img {
    padding: 20px 70px;
}

.choose-items p {

    padding: 0px 50px;
    text-align: center;
}

.choose-items:nth-child(1) {
    background-color: #0702A3;
}

.choose-items:nth-child(2) {
    background-color: #FF7676;
}

.choose-items:nth-child(3) {
    background-color: #FF4A91;
}

.choose-items:last-child {
    background-color: #FFCD4C;
}

.teachings h4{
    margin-left: 650px;
}

.our-teaching{
    display: flex;
    gap: 50px;
    margin: 20px 90px;
}

.teacher{
border: 1px solid #0702A3;
height: 350px;
width: 425px;
border-radius: 10px;


}

.teacher a{
    text-decoration: none;
    color: #4F0001;
    font-size: 32px;
    padding: 48px;
    font-weight: 700;
    display: block;
    margin-top:80px;
    text-align: center;
    
}

.teacher:nth-child(2){
    border: 1px solid #FF7676;
}

.teacher:last-child{
    border: 1px solid #FF4A91;
}

.view a{
    margin-left: 620px;
    background-color: #0802A3;
    color: white;
    text-decoration: none;
    padding: 8px 100px;
    border-radius: 3px;
}

.view {
    margin-top:35px ;
   
}

.get-started{
    background-color: #FF4A91;
}

.start{
    display: flex;
    transform: translateY(40px);
    gap: 120px;
    margin-left: 100px;
    margin-top: 24px;

}

.starting{
    width: 50%;
    height: 400px;
}

.starting p{
    color: white;
    font-size: 32px;
    line-height: 48px;
    width: 86%;

}

.starting a{
    text-decoration: none;
    color: #FF4A91;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}

.starting img{
    margin-top: -18px;
    margin-left: 80px;
}

.socials{
    background-color: black;
    
}

.sls{
    margin-left: 650px;
}

.sls img{
    margin-right: 8px;
}

.footer{
    background-color: blue;
    color: white;
}

.foot{
    margin-left: 620px;
}